@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../../public/Gilroy-SemiBold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../public/Gilroy-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../../public/Gilroy-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../public/Gilroy-Bold.ttf");
  font-weight: 400;
}

.Gilroy-Semibold {
  font-family: "Gilroy-SemiBold";
}

.Gilroy-Regular {
  font-family: "Gilroy-Regular";
}

.Gilroy-Bold {
  font-family: "Gilroy-Bold";
}

.Gilroy-Medium {
  font-family: "Gilroy-Medium";
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.input-capsule__input {
  flex-grow: 1;
  border: none;
  color: #ffffff;
  background-color: transparent;
  text-align: right;
  outline: none; /* Add this line to remove the default input border */
}

.transition-background {
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.notification-enter {
  animation: fadeIn 0.3s ease-out;
}

.notification-exit {
  animation: fadeOut 0.3s ease-out;
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}